<style>	
	/*SETUP */

			/* GLOBAL RESETS */
			* {
				box-sizing: border-box;
			}
			body {
				margin: 0;
				padding: 0;
			}

	/*ASK US SCROLLING */

	#askus {
			z-index: 100;
		position: fixed;
		width:80px;
		height:80px;
		top: 275px;
		right: 1px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
			border: 1px black solid;
			background-color: white;
		}
		
	/* LIBRARY HEADER */



	.library-logo {
		height: 45px;
	}


	
</style>
