body {
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
}

.title {
    background-color: whitesmoke;
    height: 200px;
    display: grid;
    align-items: center;
    padding-left: 25px;
}

h1 {
    color: #da291c;
    font-size: 65px;
    font-family: minion-pro, serif;

}

.title h1 {
    width: 1200px;
    margin: 0 auto;
}


h2, .h2 { 
    color: #55585a;
    font-size: 30px; 
    font-family: minion-pro, serif;
 }

h3 {
    color: #55585a;
    font-size: 25px;
    font-family: minion-pro, serif;
}

 p {
    color: #333;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

/*LINK BAR*/

.link-bar {
    background-color: #55585A;
    margin-bottom: 45px;
    display: flex;
	align-items: center;
	white-space: nowrap;
}

.link-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding: 22px 15px;
	width: 1200px;
}

.link-bar li a {
    color: white;
    margin-right: 30px; 
}

/*PAGE CONTAINER */

.page-container {
    padding: 35 15px;
    max-width: 1200px;
    margin: 50px auto;
}



.tile a {
	text-decoration: none;
	display: block;
	color: #444;
	min-height: 175px;
}


.tile p {
	background-color: white;
	margin: 0;
	padding: 10px;
	font-size: calc(14px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.tile .fa, .tile .fas {
	padding: 8px 0 20px;
	font-size: 6rem;
}



/*FOOTER */
footer {
	background-color: #54585A;
	padding: 20px 0;

}

footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

footer li {
	display: inline-block;
	margin: 0 20px;
}

footer a {
	color: white;
}

footer a:hover, footer a:focus {
	color: white;
}



/* REGULAR PHONE LAYOUT */

@media screen and (max-width: 600px) {
	
	.tile-container {
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	}
    
    footer ul {
	flex-direction: column;
	padding: 10px;
	}
	
    .title h1 {
  	width: 200px;
        margin: 0 auto;
}
    h1 {
        color: #da291c;
        font-size: 45px;
        font-family: minion-pro, serif;
	}
