<style>
/*SETUP */

		/* GLOBAL RESETS */
		* {
			box-sizing: border-box;
		}
		body {
			margin: 0;
			padding: 0;
		}
/*LIBGUIDES RESETS */

.container { 
	width: 100%;
	}
	
	
	.s-lg-guide-body {
	padding: 0;
	margin: 0;
	}
	
	#s-lg-guide-name, #s-lib-bc-list, #s-lg-tabs-container, #s-lg-guide-tabs-title-bar {
		display: none;
	}
	
	#s-lg-public-skiplink {
	position: absolute;
	top: -52px;
	}
	
	#s-lg-guide-header-search {
	display: none;
	}
	
	
	#s-lib-scroll-top {
		display: none !important;
		}
		
	.col-md-12 {
		padding: 0;
		margin: 0;
	}

#s-lg-col-127 {
	display: none;
}
		
		#s-lib-footer-public {
		display: none;
		}
		
	
/*ASK US SCROLLING */

#askus {
        z-index: 100;
	position: fixed;
	width:80px;
	height:80px;
	top: 275px;
	right: 1px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
		border: 1px black solid;
		background-color: white;
    }
    
/* LIBRARY HEADER */
.page-header {
	display: grid;
	grid-gap: 20px; /*Used for Mobile*/
	grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-content: space-around;
    border: none;
	padding: 22px 25px;
	margin: 0;
	
}


.library-logo {
	height: 45px;
}


/* BUTTON - MY LIBRARY ACCOUNT*/

#button-account {
	padding: 5px;
	border: 2px solid white;
	background-color: #da291c;
	color: white;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
}

#button-account a {
    color: white;
}


/* BUTTON - HOURS */
#button-hours a {
	padding: 5px 10px;
	color: #da291c;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
}



/*TYPOGRAPHY */

body {
    font-family: "Open Sans","Arial","Helvetica",sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    text-decoration: none;
}

a {
	color: #da291c;
}


.title {
    background-color: whitesmoke;
    height: 200px;
    display: grid;
    align-items: center;
    padding-left: 25px;
}

h1 {
    color: #da291c;
    font-size: 65px;
    font-family: minion-pro, serif;

}

.title h1 {
    width: 1200px;
    margin: 0 auto;
}


h2, .h2 { 
    color: #55585a;
    font-size: 30px; 
    font-family: minion-pro, serif;
 }

h3 {
    color: #55585a;
    font-size: 25px;
    font-family: minion-pro, serif;
}

 p {
    color: #333;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

/*HEADING HIGHLIGHT */

.highlight {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	margin-top: 20px;
}

.highlight h2 {
	border-top: 4px solid #da291c;
	display: inline;
	padding-top: 16px;

}
 

/*LINK BAR*/

.link-bar {
    background-color: #55585A;
    margin-bottom: 45px;
    display: flex;
	align-items: center;
	white-space: nowrap;
}

.link-bar ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 22px 15px;
	width: 1200px;
}

.link-bar li a {
    color: white;
    margin-right: 30px; 
}

/*PAGE CONTAINER */

.page-container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 50px auto;
}

/* ICONS */

.icon {
	width: 8rem;
	padding: 8px 0 20px;
}


.tile a {
	text-decoration: none;
	display: block;
	color: #444;
	min-height: 175px;
}


.tile p {
	background-color: white;
	margin: 0;
	padding: 10px;
	font-size: calc(14px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.tile .fa, .tile .fas {
	padding: 8px 0 20px;
	font-size: 6rem;
}



/*FOOTER */
footer {
	background-color: #54585A;
	padding: 20px 0;

}

footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

footer li {
	display: inline-block;
	margin: 0 20px;
}

footer a {
	color: white;
}

footer a:hover, footer a:focus {
	color: white;
}



/* REGULAR PHONE LAYOUT */

@media screen and (max-width: 600px) {
	
	.tile-container {
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	}

	footer ul {
	flex-direction: column;
	padding: 10px;
	}
	
	.link-bar ul {
	flex-direction: column;
	padding: 15px;	
	}
	
	
	/* Title */
	.title {
		background-color: whitesmoke;
		height: 300px;
		display: grid;
		align-items: left;
		padding-right: 75%;
	}
	
			  .title h1 {
		width: 200px;
		margin: 0 auto;
	}
			#askus {
		width: 50px;
		height: 50px;
                bottom: 1% !important; 
  		}
  
  		#askus img {
  		width: 90%;
  		}
	}
  </style>
